# Archivos de NetBeans
nbproject/private/
build/
dist/

# Archivos de IntelliJ IDEA
.idea/
*.iml
out/

# Archivos de VS Code
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

# Compilados de Java
*.class

# Archivos temporales
*.log
*.tmp
*.bak
/Semana1/proyecto-carrito-completo/BancoBoston/nbproject/private/
/Semana1/proyecto-carrito-completo/BancoOfBostonDemostracion/nbproject/private/
